mixin header-goal()
	+b.header-goal&attributes(attributes)
		block

		//- +e('div').goal-text
			+e('p')
				| с 
				+e('span') 1 
				| мая по
			+e('p')
				+e('span')
					| 15 
				| июля 2018 года
