.header-goal
	display block
	height 47.91666666666667vw
	background-repeat no-repeat
	background-position center -3.489583333333333vw
	background-size contain
	retinaBackground(mainimg5, png)
	@media only screen and (max-width: 768px)
		height 69.916667vw

	&__goal-text
		position absolute
		top 33.95833333333333vw
		padding-left 3.333333333333333vw
		width 100%
		font-family 'Magistral-ExtraBoldItalic'

		& p
			font-size 2.447916666666667vw
			color goal-color
			transform rotate(-11.5deg)

			&:first-of-type
				position relative
				top .78125vw
				text-indent 11.97916666666667vw

			& span
				font-size 3.333333333333333vw