.phone-slide
	position relative
	z-index 3
	display flex
	transform rotate(-10.7deg)
	justify-content flex-end

	&__img
		position absolute
		top -344px
		right -118px
		background-repeat no-repeat
		background-position center top
		background-size cover
		transform rotate(10.7deg)
		size(342px, 445px)
		retinaBackground(phone-slide, png)

.phonesld-text
	padding 9px 0 31px 59px
	width 787px
	font-family main-fone
	color share-white
	background-color phone-text-bg2
	border 4px solid share-white

	&__one
		font-size 78px

	&__two
		font-size 41px