.phone-slide
	position relative
	z-index 3
	display flex
	transform rotate(-10.7deg)
	justify-content flex-end

	&__img
		position absolute
		top -17.39583333333333vw
		right -6.145833333333333vw
		background-repeat no-repeat
		background-position center top
		background-size cover
		transform rotate(10.7deg)
		size(17.8125vw, 23.17708333333333vw)
		retinaBackground(phone-slide, png)

.phonesld-text
	padding .46875vw 0 1.614583333333333vw 3.072916666666667vw
	width 40.98958333333333vw
	font-family main-fone
	color share-white
	background-color phone-text-bg2
	border .2083333333333333vw solid share-white

	&__one
		font-size 4.0625vw

	&__two
		font-size 2.135416666666667vw