.plus-one
	margin-top -1.666666666666667vw
	display block

	&__content
		position relative
		padding 0 2.083333333333333vw 0 0
		display flex
		transform rotate(-10.5deg)
		justify-content space-between

.plus-one__img
	position absolute
	top -1.197916666666667vw
	right 2.604166666666667vw
	background-repeat no-repeat
	background-position center center
	background-size cover
	transform rotate(10.5deg)
	size(8.854166666666667vw, 8.333333333333333vw)
	retinaBackground(plusone2, png)

.plus-text
	margin-top -2.03125vw
	font-family main-fone
	text-transform uppercase
	font-size 2.03125vw

	&__start
		text-indent 7.96875vw

	&__start-span
		font-size 3.854166666666667vw

	&__center
		text-indent 3.125vw
		letter-spacing -.0416666666666667vw

	&__end
		position relative
		top .2604166666666667vw
		right 1.25vw
		text-align right
