.magazine
	display block

	&__content
		position relative
		margin-top 61px
		display flex
		justify-content flex-end
		transform rotate(-11.5deg)

.magazine-text
	position relative
	left 60px
	width 720px

.magazine-img
	position absolute
	top -90px
	left -140px
	background-repeat no-repeat
	background-position center center
	background-size contain
	transform rotate(11.5deg)
	size(691px, 612px)
	retinaBackground(magazine, png)

.magazine-one
	position relative
	left -20px
	text-transform uppercase
	font-family main-fone

	&__text-one
		font-size 26px
		text-indent 28px
	&__text-two
		font-size 39px
		text-indent 22px
	&__text-three
		font-size 26px
		text-indent 15px
	&__text-four
		font-size 28px
		text-indent 8px
	&__text-five
		font-size 31px
		text-indent 6
		text-transform lowercase
		& span
			text-transform uppercase

.magazine-wrapp__text-img
	position relative
	margin-top 55px
	display flex
	justify-content space-between


.magazine-two
	position relative
	left -46px
	text-transform uppercase
	font-family main-fone

	&__text-one
		font-size 60px
		text-indent 2px

	&__text-two
		margin-top -8px
		font-size 30px
		text-indent -8px

	&__text-three
		font-size 35px

.magazine-three
	position relative
	left -75px
	margin-top 10px
	font-family main-fone
	text-transform uppercase

	&__text-one
		margin-top -5px
		font-size 62px
		text-indent 12px

	&__text-two
		font-size 35px
		text-indent 5px

	&__text-three
		position relative
		left -3px
		font-size 29px

		& span
			position relative
			top -10px
			left -3px
			font-size 22px

.magazine-wrapp__img
	position absolute
	top -1px
	right 97px
	background-repeat no-repeat
	background-position center center
	background-size contain
	transform rotate(11deg)
	size(208px, 206px)
	retinaBackground(ball2, png)

