.magazine
	display block

	&__content
		position relative
		margin-top 3.177083333333333vw
		display flex
		justify-content flex-end
		transform rotate(-11.5deg)

.magazine-text
	position relative
	left 3.125vw
	width 37.5vw

.magazine-img
	position absolute
	top -4.6875vw
	left -7.291666666666667vw
	background-repeat no-repeat
	background-position center center
	background-size contain
	transform rotate(11.5deg)
	size(35.98958333333333vw, 31.875vw)
	retinaBackground(magazine, png)

.magazine-one
	position relative
	left -1.041666666666667vw
	text-transform uppercase
	font-family main-fone

	&__text-one
		font-size 1.354166666666667vw
		text-indent 1.458333333333333vw
	&__text-two
		font-size 2.03125vw
		text-indent 1.145833333333333vw
	&__text-three
		font-size 1.354166666666667vw
		text-indent .78125vw
	&__text-four
		font-size 1.458333333333333vw
		text-indent .4166666666666667vw
	&__text-five
		font-size 1.614583333333333vw
		text-indent .3125vw
		text-transform lowercase
		& span
			text-transform uppercase

.magazine-wrapp__text-img
	position relative
	margin-top 2.864583333333333vw
	display flex
	justify-content space-between


.magazine-two
	position relative
	left -2.395833333333333vw
	text-transform uppercase
	font-family main-fone

	&__text-one
		font-size 3.125vw
		text-indent .1041666666666667vw

	&__text-two
		margin-top -.4166666666666667vw
		font-size 1.5625vw
		text-indent -.4166666666666667vw

	&__text-three
		font-size 1.822916666666667vw

.magazine-three
	position relative
	left -3.90625vw
	margin-top .5208333333333333vw
	font-family main-fone
	text-transform uppercase

	&__text-one
		margin-top -.2604166666666667vw
		font-size 3.229166666666667vw
		text-indent .625vw

	&__text-two
		font-size 1.822916666666667vw
		text-indent .2604166666666667vw

	&__text-three
		position relative
		left -.15625vw
		font-size 1.510416666666667vw

		& span
			position relative
			top -.5208333333333333vw
			left -.15625vw
			font-size 1.145833333333333vw

.magazine-wrapp__img
	position absolute
	top -.0520833333333333vw
	right 5.052083333333333vw
	background-repeat no-repeat
	background-position center center
	background-size contain
	transform rotate(11deg)
	size(10.83333333333333vw, 10.72916666666667vw)
	retinaBackground(ball2, png)

