.exchange
	display block

	&__content
		position relative
		display flex
		justify-content flex-end

.exchange-img
	position absolute
	top -6.71875vw
	left -1.09375vw
	background-repeat no-repeat
	background-position center top
	background-size cover
	size(23.28125vw, 19.58333333333333vw)
	transform rotate(11deg)
	retinaBackground(over-stiker, png)

.exchange-text
	width 42.1875vw
	font-family main-fone
	text-transform uppercase

	&__one
		font-size 1.822916666666667vw
		text-indent 2.083333333333333vw
	&__two
		margin-top -.5208333333333333vw
		font-size 1.822916666666667vw
		text-indent 1.875vw

	&__span-two
		position relative
		top .46875vw
		font-size 2.604166666666667vw

	&__span-twotwo
		position relative
		top .46875vw
		font-size 1.822916666666667vw

	&__three
		font-size 3.489583333333333vw
		text-indent 1.458333333333333vw
		& span
			position relative
			top -1.71875vw
			left -.7291666666666667vw
			font-size 1.041666666666667vw
