.exchange
	display block

	&__content
		position relative
		display flex
		justify-content flex-end

.exchange-img
	position absolute
	top -129px
	left -21px
	background-repeat no-repeat
	background-position center top
	background-size cover
	size(447px, 376px)
	transform rotate(11deg)
	retinaBackground(over-stiker, png)

.exchange-text
	width 810px
	font-family main-fone
	text-transform uppercase

	&__one
		font-size 35px
		text-indent 40px
	&__two
		margin-top -10px
		font-size 35px
		text-indent 36px

	&__span-two
		position relative
		top 9px
		font-size 50px

	&__span-twotwo
		position relative
		top 9px
		font-size 35px

	&__three
		font-size 67px
		text-indent 28px
		& span
			position relative
			top -33px
			left -14px
			font-size 20px
