goal-color = rgb(247, 211, 84)
video-phone = rgb(12, 34, 68)
phone-text-bg = rgb(245, 177, 42)
share-white = rgb(255, 255, 255)
phone-text-bg2 = rgb(233, 83, 13)
phone-text-bg3 = rgb(238, 114, 2)

text-red = rgb(229, 26, 41)
text-blue = rgb(28, 86, 163)

main-fone = 'Magistral-ExtraBoldItalic'
