mixin header-logo()
	+b.header-logo&attributes(attributes)
		block

		+e('a').logo-topps(href="#")
		+e.wrapp-log
			+e('a').logo-eccen(href="http://essen-retail.ru/" target="_blank")
			+e('a').logo-eccengreen(href="http://essengreen.ru/" target="_blank")
