.header-logo
	padding 1.09375vw 1.822916666666667vw 0 1.5625vw
	display flex
	justify-content space-between

	&__logo-topps
		cursor auto
		pointer-events none
		background-repeat no-repeat
		background-size contain
		size(6.510416666666667vw, 2.96875vw)
		retinaBackground(topps2, png)

	&__logo-eccen
		size(6.510416666666667vw, 2.447916666666667vw)
		background-repeat no-repeat
		background-size contain
		retinaBackground(eccen, png)

	&__logo-eccengreen
		size(7.8125vw, 2.447916666666667vw)
		background-repeat no-repeat
		background-size contain
		retinaBackground(eccen-green, png)

	&__wrapp-log
		display flex
		width 15.625vw
		justify-content space-between

@media only screen and (max-width: 768px)
	.header-logo
		padding 3.09375vw 0

		&__logo-topps
			size(19.5312499998vw, 8.90625vw)

		&__logo-eccen
			size(19.53124999998vw, 7.343749998vw)

		&__logo-eccengreen
			size(23.4375vw, 7.349149998vw)

		&__wrapp-log
			width 48vw
			align-items center
