.header-logo
	padding 21px 35px 0 30px
	display flex
	justify-content space-between

	&__logo-topps
		cursor auto
		pointer-events none
		background-repeat no-repeat
		background-size contain
		size(125px, 57px)
		retinaBackground(topps2, png)

	&__logo-eccen
		size(125px, 47px)
		background-repeat no-repeat
		background-size contain
		retinaBackground(eccen, png)

	&__logo-eccengreen
		size(150px, 47px)
		background-repeat no-repeat
		background-size contain
		retinaBackground(eccen-green, png)

	&__wrapp-log
		display flex
		width 300px
		justify-content space-between