body
	overflow-x hidden
	background-repeat repeat-y
	background-position center top
	background-size contain
	opacity 0
	transform scale(.8)
	retinaBackground(greed3, png)
	@media only screen and (max-width: 768px)
		transform scale(1)

.wrapper
	background-repeat repeat-y
	background-position center top
	background-size contain

	&_header
		margin-top -16vw
		@media only screen and (max-width: 768px)
			margin-top 0
		// retinaBackground(greed2, png)

	&_video
		position relative
		z-index 3
		background-repeat repeat-y
		background-size contain
		// retinaBackground(greed2, png)

	&_video-two
		margin-top -10.15625vw

	&_content
		// retinaBackground(greed2, png)

	&_content-two
		padding-bottom 6.302083333333333vw
		@media only screen and (max-width: 768px)
			margin-top 35vw

	&_dop-padding
		padding-bottom 15.625vw

	&_deg
		position relative
		z-index 2
		margin-top -14.42708333333333vw
		margin-bottom 9.791666666666667vw
		padding 1.5625vw 0
		width 110%
		height 20.83333333333333vw
		// background-color #fff
		transform rotate(-11deg)
		@media only screen and (max-width: 768px)
			margin-top 40vw
			width 100%
			transform rotate(0deg)

	&_margin-top
		position relative
		z-index 2
		margin-top -10.625vw
		margin-bottom 9.791666666666667vw
		width 110%
		height 20.83333333333333vw
		background-color #fff
		transform rotate(-11deg)

	&_bg-white
		margin-top -18.22916666666667vw
		padding-top 18.22916666666667vw
		background-color #fff

.content
	position relative
	z-index 5
	margin 0 auto
	width 65.10416666666667vw

.red
	color text-red
.blue
	color text-blue

.phone
	margin-bottom 2.604166666666667vw

.phone-slide
	margin-bottom 2.604166666666667vw

@media only screen and (max-width: 768px)
	.content
		width 88vw
