body
	overflow-x hidden
	background-repeat repeat-y
	background-position center top
	background-size contain
	opacity 0
	retinaBackground(greed3, png)

.wrapper
	background-repeat repeat-y
	background-position center top
	background-size contain

	&_header
		// retinaBackground(greed2, png)

	&_video
		position relative
		z-index 3
		background-repeat repeat-y
		background-size contain
		// retinaBackground(greed2, png)

	&_video-two
		margin-top -195px

	&_content
		// retinaBackground(greed2, png)

	&_content-two
		padding-bottom 121px

	&_dop-padding
		padding-bottom 300px

	&_deg
		position relative
		z-index 2
		margin-top -277px
		margin-bottom 188px
		padding 30px 0
		width 110%
		height 400px
		// background-color #fff
		transform rotate(-11deg)

	&_margin-top
		position relative
		z-index 2
		margin-top -204px
		margin-bottom 188px
		width 110%
		height 400px
		background-color #fff
		transform rotate(-11deg)

	&_bg-white
		margin-top -350px
		padding-top 350px
		background-color #fff

.content
	position relative
	z-index 5
	margin 0 auto
	width 1250px

.red
	color text-red
.blue
	color text-blue

.phone
	margin-bottom 50px

.phone-slide
	margin-bottom 53px
