.stiker-game
	position relative
	z-index 3
	display flex
	justify-content flex-end
	transform rotate(-11deg)

	&__img
		position absolute
		z-index 29
		top -204px
		left 162px
		background-repeat no-repeat
		background-position center top
		background-size cover
		transform rotate(11deg)
		size(362px, 525px)
		retinaBackground(stiker-game, png)

.two-slides
	&__img
		position absolute
		z-index 30
		top -129px
		left -21px
		background-repeat no-repeat
		background-position center top
		background-size cover
		transform rotate(11deg)
		size(444px, 372px)
		retinaBackground(two-stikers, png)

.stikergame-text
	padding 44px 0 54px 208px
	width 900px
	font-family main-fone
	color share-white
	background-color text-red

	&__one
		margin-bottom -5px
		font-size 52px
		text-transform uppercase

	&__two
		font-size 34px

		& span
			text-transform uppercase

	&__three
		margin-bottom 15px
		font-size 34px

	&__four
		font-size 34px

		& span
			font-size 53px
			text-transform uppercase

	&__five
		font-size 34px

	&__six
		font-size 34px