.stikers
	position relative
	padding 3.125vw 0 0 2.291666666666667vw
	display flex
	justify-content space-between

	&__stikers
		background-repeat no-repeat
		background-position center center
		background-size contain
		size(33.33333333333333vw, 21.97916666666667vw)
		retinaBackground(stikers, png)

.stikers-text
	position absolute
	top 3.4375vw
	right 0
	padding-right 1.5625vw
	font-family main-fone
	text-align right
	transform rotate(-11deg)

	&__start
		position relative
		right 1.09375vw
		font-size 3.59375vw
		letter-spacing -.140625vw
		text-transform uppercase

	&__center
		position relative
		right .78125vw
		margin-top -.1041666666666667vw
		font-size 2.03125vw
		line-height .9
		letter-spacing -.0520833333333333vw
		text-transform uppercase

		& span:first-of-type
			position relative
			right .3645833333333333vw

		& span:last-of-type
			position relative
			right 1.302083333333333vw

	&__end
		padding-right 1.458333333333333vw
		font-size 2.083333333333333vw

		& span:first-of-type
			position relative
			top .4166666666666667vw
			font-weight bold

		& span:last-of-type
			position relative
			right .8854166666666667vw
