.header
	display flex
	justify-content space-between

	&__logo-topps
		size(108px, 52px)
		background-repeat no-repeat
		background-size contain
		retinaBackground(topps, png)

	&__logo-eccen
		size(102px, 43px)
		background-repeat no-repeat
		background-size contain
		retinaBackground(eccen, png)