.two-slides
	z-index 20
	padding-top 146px
	display flex
	justify-content flex-end


	&__img
		position absolute
		top 220px
		left 30px
		background-repeat no-repeat
		background-position center top
		background-size cover
		transform rotate(11deg)
		size(624px, 564px)
		retinaBackground(two-stikers, png)

.twoslides-text
	position relative
	left -70px
	padding 30px 0 58px 295px
	width 900px
	font-family main-fone
	color share-white
	background-color phone-text-bg3

	&__one
		font-size 45px
		text-transform uppercase

	&__two
		font-size 30px

	&__three
		font-size 30px

		& span
			text-transform uppercase