.two-slides
	z-index 20
	padding-top 7.604166666666667vw
	display flex
	justify-content flex-end


	&__img
		position absolute
		top 11.45833333333333vw
		left 1.5625vw
		background-repeat no-repeat
		background-position center top
		background-size cover
		transform rotate(11deg)
		size(32.5vw, 29.375vw)
		retinaBackground(two-stikers, png)

.twoslides-text
	position relative
	left -3.645833333333333vw
	padding 1.5625vw 0 3.020833333333333vw 15.36458333333333vw
	width 46.875vw
	font-family main-fone
	color share-white
	background-color phone-text-bg3

	&__one
		font-size 2.34375vw
		text-transform uppercase

	&__two
		font-size 1.5625vw

	&__three
		font-size 1.5625vw

		& span
			text-transform uppercase