mixin desc()
	+b.desc&attributes(attributes)
		block

		+e('p').text
			+e('span')
				| * СРОК ПРОВЕДЕНИЯ АКЦИИ: С 1 МАЯ 2018 ГОДА ПО 15 ИЮЛЯ 2018 ГОДА.
			| При соблюдении правил акции покупатель получает упаковку наклеек бесплатно. Одна упаковка наклеек состоит из 4 наклеек с разными изображениями. Количество товара ограниченно. Внешний вид товаров может отличаться от изображения на рекламных материалах. В период проведения акции не гарантируется наличие полного ассортимента товара. Участие в акции могут принять только владельцы карт лояльности «Эссен. Моя семья» и «Мамина карта». Информацию об организаторе Акции, о правилах ее проведения, акционных товарах (призах), их количестве, сроках, месте и порядке их получения Вы можете получить по телефону горячей линии: 8 (800) 100 62 62 или на сайте WWW.ЭССЕН. РФ. Приложение «Играй как чемпион!» бесплатное. Ограничение по возрасту 6_. Товар сертифицирован. Не является публичной офертой. Играй как чемпион TM & © 2018 TCC Global NV. Все права защищены. ® & © 2018 Дзе Топпс Компани, Инк. Все права защищены. 